<!--
                                 NOTICE

This (software/technical data) was produced for the U. S. Government under
Contract Number 75FCMC18D0047/75FCMC23D0004, and is subject to Federal Acquisition
Regulation Clause 52.227-14, Rights in Data-General. No other use other than
that granted to the U. S. Government, or to those acting on behalf of the U. S.
Government under that Clause is authorized without the express written
permission of The MITRE Corporation. For further information, please contact
The MITRE Corporation, Contracts Management Office, 7515 Colshire Drive,
McLean, VA 22102-7539, (703) 983-6000.

                        ©2024 The MITRE Corporation.
-->
<!DOCTYPE html>
<html>

<head>
    <%- include('./../partials/head') %>
</head>

<body class="skin-blue fixed sidebar-mini sidebar-mini-expand-feature">
    <div class="wrapper">

        <!-- Header -->
        <%- include('./../partials/header') %>

        <!-- Left side column. contains the logo and sidebar -->
        <%- include('./../partials/sidebar') %>

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Manage Users</h1>
                </div>



                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><i class="fa fa-lock"></i>&nbsp;Admin</li>
                        <li class="breadcrumb-item active">Manage Users</li>
                    </ol>
                </div>
            </div>

<!--
                    <ol class="breadcrumb">
                        <li>
                            <a href="./">
                                <i class="fa fa-lock"></i> Admin</a>
                        </li>
                        <li class="active">Manage Users</li>
                    </ol>
                -->
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header with-border">
                                <h3 class="card-title">Users</h3>
                            </div>
                            <!-- /.box-header -->
                            <div id="usertablediv" class="card-body table-responsive">
                                <table id="usertable" class="table table-bordered table-hover" cellspacing="0"
                                    width="100%">
                                    <thead>
                                        <tr>
                                            <th class="text">ID</th>
                                            <th class="text">First Name</th>
                                            <th class="text">Last Name</th>
                                            <th class="text">Username</th>
                                            <th class="text">Last Login</th>
                                            <th class="text">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% users.forEach(function(user) {  %>
                                        <tr value="<%= user.idlogin_credentials %>">
                                            <td>
                                                <%= user.idlogin_credentials %>
                                            </td>
                                            <td>
                                                <%= user.first_name %>
                                            </td>
                                            <td>
                                                <%= user.last_name %>
                                            </td>
                                            <td>
                                                <%= user.username %>
                                            </td>
                                            <td class="local-date">
                                                <%= user.last_login %>
                                            </td>
                                            <td class="user-actions">
                                                <button type="button" class="btn btn-primary"
                                                    onclick="updatePasswordModal('<%= user.username %>')">Update Password</button>
                                                <button type="button" class="btn btn-danger btn-delete-user"
                                                    onclick="deleteUserModal('<%= user.username %>','<%= user.first_name %>','<%= user.last_name %>','<%= user.idlogin_credentials %>')">
                                                    Delete</button>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="button" class="btn btn-primary" id="add_user_btn"
                                    onclick='addUserModal()'>Add New User</button>
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content - wrapper -->

        <footer class="main-footer">
            <%- include('./../partials/footer') %>
        </footer>
    </div>
    <!-- ./wrapper -->


    <!-- modals -->

    <div class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-labelledby="configModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="configModalLabel">Add new user</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="form-horizontal test-form toggle-disabled has-validation-callback disabled-without-errors"
                    id="addUserForm">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="inputUsername" class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputUsername"
                                    placeholder="Between 4 and 15 characters" data-minlength="4" data-maxlength="15"
                                    required data-validation="length" data-validation-length="4-15">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                                    data-minlength="8" data-maxlength="64" data-validation="custom"
                                    data-validation-regexp="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,64}$"
                                    required data-validation-error-msg="You did not enter a password">
                                <p class="help-block">Password must be 8 to 64 characters and contain at least 1
                                    uppercase letter, 1 lowercase
                                    letter, 1 number, and 1 special character.</p>
                            </div>
                            <label for="inputConfirmPassword" class="col-sm-2 control-label">Confirm Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputConfirmPassword" name="confirmPassword" placeholder="Confirm Password"
                                    data-minlength="8" data-maxlength="64" data-validation="custom"
                                    data-validation-regexp="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,64}$"
                                    required data-validation-error-msg="Please confirm password">
                                <p class="pwd-warning-block alert alert-danger pwd-hidden">Does not match</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputFirstname" class="col-sm-2 control-label">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputFirstname" data-maxlength="25"
                                    placeholder="First name" required data-validation="length"
                                    data-validation-length="max25">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputLastname" class="col-sm-2 control-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputLastname" data-maxlength="25"
                                    placeholder="Last name" required data-validation="length"
                                    data-validation-length="max25">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" id='loadConfig'>Add User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body">
                    <p>You are about to delete <b id="userNameModal">UsersName</b>, do you want to proceed?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" onclick='deleteUser()'>Delete</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="configModalLabel">Change User Password</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="form-horizontal test-form toggle-disabled has-validation-callback disabled-without-errors"
                    id="userPasswordForm">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="inputUpdatePassword" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputUpdatePassword" name="password" placeholder="Password"
                                    data-minlength="8" data-maxlength="64" data-validation="custom"
                                    data-validation-regexp="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,64}$"
                                    required data-validation-error-msg="You did not enter a password">
                                <p class="help-block">Password must be 8 to 64 characters and contain at least 1
                                    uppercase letter, 1 lowercase
                                    letter, 1 number, and 1 special character.</p>
                            </div>
                            <label for="inputUpdateConfirmPassword" class="col-sm-2 control-label">Confirm Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputUpdateConfirmPassword" name="confirmPassword" placeholder="Confirm Password"
                                    data-minlength="8" data-maxlength="64" data-validation="custom"
                                    data-validation-regexp="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,64}$"
                                    required data-validation-error-msg="Please confirm password">
                                <p class="pwd-warning-block alert alert-danger pwd-hidden">Does not match</p>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="inputUpdateUsername" name="username" value="" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" id='updatePassword'>Update Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var selectedUser = 0;
        $(document).ready(function () {
            $('#admin_treeview').addClass('active');
            $('#admin_users_treeview').addClass('active');

            var table = $('#usertable').DataTable({
                "order": [],
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }, {
                    "targets": [4],
                    "render": function (data, type, row) {
                        if (data.length == 0) {
                            return "Never";
                        } else {
                            return data;
                        }
                    }
                }]
            });

            $("#addUserForm").submit(function (event) {
                event.preventDefault();
                if($('#inputPassword').val() !== $('#inputConfirmPassword').val()){
                    alert('Passwords do not match, please try again');
                    return;
                }
                $.post("./addUser", {
                    "username": $('#inputUsername').val(),
                    "password": $('#inputPassword').val(),
                    "firstname": $('#inputFirstname').val(),
                    "lastname": $('#inputLastname').val()
                },
                    function (data, status) {
                        console.log("Saved!!!!")
                        location.reload();
                    });
            });

            $("#userPasswordForm").submit(function (event) {
                event.preventDefault();
                if($('#inputUpdatePassword').val() !== $('#inputUpdateConfirmPassword').val()){
                    alert('Passwords do not match, please try again');
                    return;
                }
                $.post("./adminPasswordUpdate", {
                    "username": $('#inputUpdateUsername').val(),
                    "password": $('#inputUpdatePassword').val()
                })
                .done(function (data, status) {
                    alert(data);
                    location.reload();  
                })
                .fail(function (data, status) {
                    $("#userPasswordForm").trigger("reset");
                    alert(data.responseText);
                });
            });
            $("#inputUpdateConfirmPassword").on('input',function (event) {checkConfirmPassword(event.target, '#inputUpdatePassword')} );
            $("#inputConfirmPassword").on('input',function (event) {checkConfirmPassword(event.target, '#inputPassword')} );
        });

        function checkConfirmPassword(confirmInputEl, passInputId){
            const confirmVal = confirmInputEl.value;
            const passVal = $(passInputId).val();
            const warning = $('.pwd-warning-block');
            if(confirmVal !== passVal){
                warning.removeClass('pwd-hidden');
                return;
            }
            warning.addClass('pwd-hidden');
        }

        function addUserModal() {
            $("#addUserForm").trigger("reset");
            $('#configModal').modal();
        }
    
        function updatePasswordModal(username) {
            $("#userPasswordForm").trigger("reset");
            $("#inputUpdateUsername").val(username);
            $('#passwordModal').modal();
        }

        function deleteUserModal(username, first, last, userId){
            $("#userNameModal").html(first + " " + last);
            selectedUser = userId;
            $('#confirm-delete').modal();
        }

        function deleteUser() {
            $.post("./DeleteUser", {
                "id": selectedUser
            },
                function (data, status) {
                    console.log("Deleted!!!!")
                    location.reload();
                });
        }

        $('#addUserForm').validate({
            modules: 'toggleDisabled',
            disabledFormFilter: 'form.toggle-disabled',
            showErrorDialogs: false
        });

        $(document).ready(function () {
            $('.local-date').each(function (i){
                    let fDate=moment.utc(this.innerHTML, moment.ISO_8601).local().format("YYYY-MM-DD HH:mm:ss");
                    if(fDate !== 'Invalid date')
                        this.innerHTML=fDate;
            });
        });
    </script>
</body>

</html>
